@import "./variables";
@import "./teacher-card";
@import "./add-teacher-form";
@import "./modal";
@import "./form";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "top-teachers"
    "statistics"
    "favorites"
    "footer";
  grid-row-gap: 40px;
  font-family: "PT Sans", serif;
}

.container {
  width: 100%;
  padding: 0 calc((100vw - 1200px) / 2);
}

.flex {
  display: flex;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inline-fieldset {
  flex-direction: row;
}

.label {
  color: rgb(91, 91, 91);
  align-self: center;

  &:hover {
    color: rgb(34, 34, 34);
  }
}

.thin-input {
  padding: 5px;
}

.text-input {
  padding: 10px;
  width: 220px;
  height: 30px;
  margin-right: 20px;
  transition: width 0.2s;

  &:hover,
  &:focus {
    width: 400px;
  }
}

.separator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & hr {
    width: 70%;
    height: 1px;
    border-color: #222;
    margin: 0;
  }
}

.v-separator {
  border-left: 2px dotted rgb(153, 153, 153);
}

#teachers {
  grid-area: top-teachers;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers-list {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  justify-content: center;
  gap: 60px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.teacher-compact-info {
  width: 150px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $base-font-size;
  row-gap: 10px;
  flex-shrink: 0;

  &__name {
    font-family: sans-serif;
    font-size: 18px;
    margin: 10px 0 5px;
    font-weight: $title-font-weight;
  }

  &__specialty {
    font-family: sans-serif;
    font-size: 14px;
    color: #767676;
    margin: 0 0 5px;
  }

  &__nationality {
    font-family: sans-serif;
    font-size: 12px;
  }

  &--favorite::after {
    content: "★";
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 50px;
    color: gold;
  }
}

.teacher-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #f99589;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: inherit;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);
    border-color: #cc4836;
    cursor: pointer;

    img {
      transform: scale(1.2);
    }
  }
}

.teacher-card__avatar-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #f99589;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto 10px;
}

.teacher-card__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 50%;
  display: block;
}

.teacher-card__avatar-wrapper:hover .teacher-card__avatar {
  transform: scale(1.2);
}

.teacher-card__avatar--placeholder {
  background-color: #ccc;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-transform: uppercase;
}

.teachers__filters-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.favorite-teachers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.navbar-top {
    grid-area: nav;
  }

  &__links {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  &__element {
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #f76654;
    transition: color 0.2s;

    &:hover {
      color: #ce625d;
      cursor: pointer;
    }
  }

  &__btn {
    font-size: 18px;
    width: 170px;
    height: 55px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #f76654;
    color: #f76654;
    transition: all 0.2s;
    padding: 0;

    &:hover {
      background-color: #f76654;
      color: #fff;
      cursor: pointer;
    }
  }
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  &__title {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 1px #f76654;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.6);
    transition: text-shadow 0.2s;

    &:hover {
      text-shadow: 3px 2px 0px rgba(0, 0, 0, 1);
    }
  }

  &__search-bar {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    form {
      display: flex;
      align-items: center;
    }

    .btn {
      width: 100px;
      height: 35px;
      border-radius: 0;
      background-color: #fff;
      border: 1px solid #f76654;
      color: #f76654;
      font-weight: 600;
      letter-spacing: 1px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #f76654;
        color: #fff;
      }
    }
  }
}

.footer {
  grid-area: footer;
  padding-bottom: 40px;

  .navbar {
    padding-top: 35px;
  }

  &__text {
    text-align: left;
    font-family: $base-font;
    font-size: 14px;
    font-weight: $base-font-weight;
    margin-top: 14px;
  }
}

.paging {
  text-align: left;
  margin-top: 36px;

  &__button {
    color: #1a9cb0;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      text-decoration: #1096d0 underline;
      cursor: pointer;
      color: #1096d0;
    }
  }
}

#statistics {
  grid-area: statistics;
}

#favorites {
  grid-area: favorites;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-teachers-wrapper {
  overflow: hidden;
  width: calc(200px * 5 + 20px * 4);
  max-width: 100%;
  position: relative;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  will-change: transform;
}


.favorite-teachers {
  flex-wrap: nowrap;
  display: flex;
  gap: 60px;
  padding: 20px 0;
}

.favorites-arrow {
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: #f76654;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  transition: color 0.2s;

  &:hover {
    color: #cc4836;
  }
}

.favorites-arrow.left {
  margin-right: 10px;
}

.favorites-arrow.right {
  margin-left: 10px;
}

$table-border-color: #222;

.stats-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  &__header {
    border-bottom: 1px $table-border-color solid;

    &-icon {
      visibility: hidden;
    }

    &:hover {
      box-sizing: border-box;
      border-bottom: 5px $table-border-color solid;
      cursor: pointer;

      .stats-table__header-icon {
        visibility: visible;
      }
    }
  }

  & th {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  & td {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  & tr:nth-child(even) {
    background-color: #f9f5f9;
  }
}

.btn {
  border: 1px $main-color solid;
  color: $main-color;
  background-color: $accent-color;
  font-size: $base-font-size;
  font-weight: $title-font-weight;
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: center;

  &:hover {
    color: $accent-color;
    background-color: $main-color;
    cursor: pointer;
  }
}

.small-btn {
  font-size: 16px;
  padding: 6px 23px;
}

.title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  font-family: $title-font, serif;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 40px;
}

.favorite-teacher {
  position: static;
  width: 100%;
  display: block;
  text-align: end;
  z-index: 1;
  color: yellow;
  font-size: 32px;
}

@media screen and (max-width: 1200px) {

  .teachers-list,
  .favorite-teachers {
    grid-template-columns: repeat(4, 150px);
  }
}

@media screen and (max-width: 900px) {

  .teachers-list,
  .favorite-teachers {
    grid-template-columns: repeat(3, 150px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    padding: 0 10px;
  }

  .teachers-list,
  .favorite-teachers {
    grid-template-columns: repeat(2, 150px);
    gap: 40px;
  }

  .teacher-avatar {
    width: 100px;
    height: 100px;
  }

  .teacher-compact-info--favorite::after {
    font-size: 40px;
    top: -8px;
    right: -8px;
  }
}

@media screen and (max-width: 480px) {

  .teachers-list,
  .favorite-teachers {
    grid-template-columns: 150px;
  }
}

#favorites {
  grid-area: favorites;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.favorites-slider {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-teachers-wrapper {
  width: 100%;
  overflow: hidden;
}

.favorite-teachers {
  display: flex;
  gap: 60px;
  transition: transform 0.3s ease;
  padding: 20px 0;
  width: max-content;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 100px;
  background-color: gray;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.2s ease;
}

.arrow-left {
  left: -60px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.arrow-right {
  right: -60px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.arrow:hover {
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .arrow-left {
    left: -40px;
  }

  .arrow-right {
    right: -40px;
  }
}

@media screen and (max-width: 768px) {
  .arrow {
    width: 30px;
    height: 80px;
  }

  .arrow-left {
    left: -30px;
  }

  .arrow-right {
    right: -30px;
  }
}

@media screen and (max-width: 480px) {
  .arrow {
    width: 25px;
    height: 60px;
  }

  .arrow-left {
    left: -20px;
  }

  .arrow-right {
    right: -20px;
  }
}